<!doctype html>
<html>
    <style>
    .enjoy-css {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 490px;
        padding: 20px;
        overflow: hidden;
        border: none;
        font: normal 30px/3 "Lucida Console", Monaco, monospace;
        color: rgba(255,255,255,1);
        text-align: center;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        word-spacing: 6px;
        background: #5042d6;
        -webkit-box-shadow: 5px 5px 5px 0 rgba(54,56,109,0.3) ;
        box-shadow: 5px 5px 5px 0 rgba(54,56,109,0.3) ;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.2) ;
        position: absolute; /* or absolute */
        top: 40%;
        left: 35%;
        }
    .img {
        position: fixed; /* or absolute */
        left: 34%;
    }
    </style>
    <!-- <header>
        <img class="img" src="https://lh3.googleusercontent.com/-hJ2rXeGXaF4/Wql_QzNTb3I/AAAAAAAAb7o/tt92qpBuFkc5uaLLi5lXkC-dQA-ivKdAQCJoC/w1920-h1080/google_io_2018_extended_hashtag_white_16x9_rgb.png" width="487" height="274" >
    </header> -->
   <body>
      <div class="enjoy-css">
          Visits: {{ visit_counts }}
          <br>
          Hostname: {{hostname}}
          <br>
          Task: {{DOCKER_SERVICE_NAME}}
          <br>
          FOO: {{FOO}}
      </div>
   </body>